$breakpoints: (
  small: (max-width:  599px),
  medium: (min-width: 600px) and (max-width: 959px),
  large: (min-width: 960px) and (max-width: 1263px),
  infinity: (min-width: 1264px)
) !default;

@mixin screen($sizes...) {
  @each $value in $sizes {
    @if map-has-key($breakpoints, $value) {
      @media #{inspect(map-get($breakpoints, $value))} {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$value}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }
}